
.invoice-header {
    font-size: 15;
    color:#5B5B88;
    font-weight: 600;
}

.total-summary {
    background-color: black;
    font-weight: bold;
    
}

.total-summary-item {
    color: white;
}

.bill-item-container {
    padding: 10;

}


.odd {
    background-color: #F8F8F8;
}

.image-container{
    height: 60;
    width: 60;
    background-color: #f2f2f2;
    border-radius: 50;
}
.product-image{

    border-radius: 50;
}

.product-detail-container {
    padding: 10;
    vertical-align: top;
}

.product-name {
    font-size: 15;
    font-weight: bold;
  
}

.product-price {
    font-size: 15;
    font-weight: bold;
    text-align: right;
}

.produt-desc {
    font-size: 12;
}

/* dropdown style */
.dropdown {
    color: black;
    text-align: center;
    padding: 5;
    background-color: white;
    font-size: 16;
    
    
}