<ActionBar title="Invoice">
    <ActionItem  text="Cart {{orderCount}}" [nsRouterLink]= "['/order']">
       
    </ActionItem>

</ActionBar>

<GridLayout backgroundColor="#dedede" rows="auto, auto, *, auto">

    <StackLayout row="0"
            [visibility]="isCustomerSelected ? 'collapse' : 'visible'">
            <DropDown #dd
                backroundColor="red"
                [items]="items"
                [(ngModel)]="selectedIndex"
                (selectedIndexChanged)="onchange($event)"
                (opened)="onopen()"
                (closed)="onclose()"
                class="dropdown"
                
                colSpan="2"
                hint="Choose a Customer"></DropDown>

    </StackLayout>



    <!-- <StackLayout orientation="horizontal"
        backgroundColor="#ffffff"
        *ngIf="!isCustomerSelected"
        row="0"
        class="m-x-10 m-t-5 p-l-15">
        <StackLayout 
            verticalAlignment="center"
            class="">
            <Label text="&#xf067;"
                class="fa h2"
                color="blue"
                (tap)="changeCustomer()"></Label>
        </StackLayout>



        <Label 
            class="p-10 h3"
            text="Select Customer"></Label>
    </StackLayout> -->
    <GridLayout columns="auto,*,*,auto"
        *ngIf="isCustomerSelected"
        row="1"
        class="m-x-10 m-t-5 p-l-15 invoice-header">
        <Label 
            col="0"
            class="p-10"
            text="DE101"></Label>
        <Label 
            col="1"
            class="p-10"
            [text]="selectedCustomer"></Label>
        <Label 
            col="2"
            class="p-10"
            text="30/06/2017"></Label>
        <Label 
            col="3"
            class="p-10 fa m-t-5"
            text="&#xf044;"
            (tap)="changeCustomer()"></Label>

    </GridLayout>


    <StackLayout backgroundColor="#ffffff"
        row="2"
        class="m-x-10 m-t-5 p-5">
            <!-- >> angular-listview-header-footer -->
            <RadListView [items]="products">
                <ng-template  let-item="item" let-odd="odd">

                    <StackLayout orientation="horizontal"
                        class="bill-item-container bill-item"
                        [class.odd]="odd"
                        (tap)="selectQuantity(item)">
                        <StackLayout class="image-container" >
                            <!-- <Image src="{{item.image}}" class="product-image"></Image> -->
                            <Image [src]="item.image ? item.image: 'res://icon'" class="product-image"></Image>
                        </StackLayout>
                        
                        <StackLayout class="product-detail-container" width="60%">
                            <Label [text]="item.name"
                            class="product-name"></Label>
                            
                            <Label text="item.desc"
                            class="product-desc"></Label>
                            
                        </StackLayout>
                        <StackLayout horizontalAlign="right">
                            <Label text="{{item.price}}  &#xf156;" class="fa p-15 product-price" ></Label>
                        </StackLayout>
                        

                    </StackLayout>

                </ng-template>

            </RadListView>

    </StackLayout>
    <StackLayout
        row="3"
        class="m-x-10 m-t-5 p-5 total-summary">
        <GridLayout columns="*,*, auto"
            class="p-5">
            <Label col="0"
                class="h4 total-summary-item" text="Total"></Label>
            <Label col="1"
                class="h4 total-summary-item" text="{{orderCount}} items"></Label>
            <Label col="2"
                class="h4 fa m-t-5 total-summary-item" text="{{orderTotalPrice}} &#xf156;"></Label>
        </GridLayout>
    </StackLayout>
</GridLayout>